@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('/assets/fonts/GothamPro.woff2') format('woff2'),
    url('/assets/fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Light';
  src: url('/assets/fonts/GothamPro-Light.woff2') format('woff2'),
    url('/assets/fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Gotham Pro Regular', Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.container {
  position: relative;
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER */

.header {}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
}

.nav {
  width: 687px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__link {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 12px;
}

/* SECTION FIRST */

.section-first {}

.container__img {
  position: relative;
  background-image: url(/assets/img/service-cards/section-first\ photo.jpg);
  background-attachment: scroll;
  background-position: center -64px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
}

.section-first__group {
  height: 100%;
  margin: 0 auto;
  max-width: 916px;
  width: 100%;
}

.section-first__position {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 966px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-first__logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.section-first__title {
  color: #fff;
  display: block;
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 80px;
}

.section-first__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-first__link {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
}


.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 45px;
  background-color: inherit;
  font-family: 'Gotham Pro Regular';
  font-size: 13px;
  height: 40px;
  line-height: 100%;
  min-height: 40px;
  min-width: 208px;
  justify-content: center;
  padding: 0 0 0 4px;
  transition: 0.3s, color 0.3s;
}

.section-first__btn {
  color: #fff;
  border: 1px solid #fff;

}

.section-first__btn:hover {
  background-color: #F3F3F3;
  color: #000;
}

.section-first__links svg {
  margin-left: 14px;
}

/* SECTION SECOND */

.section-second {
  padding-top: 216px;
  padding-bottom: 115px;
}

.section-second__container {
  margin: 0 auto;
  max-width: 940px;
}

.section-second__block {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.section-second__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-second__logo {
  margin-bottom: 61px;
}

.section-second__title {
  display: block;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 44px;
  margin-bottom: 68px;
  min-width: 390px;
  color: #000;
}

.section-second__links {
  display: flex;
  align-items: center;
}

.section-second__link {
  color: #000;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
  margin-right: 100px;
}

.section-second__link svg {
  margin-left: 15px;
}

.section-second__links p {
  font-family: 'Gotham Pro Light';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
  color: #C8BB93;
}

.section-second__img {
  margin-left: 55px;
}

/* SECTION PRODUCTION */

.section-production-top {
  padding-top: 65px;
  padding-bottom: 250px;
}

.section-production-top__container {
  margin: 0 auto;
  max-width: 1080px;
}

.section-production-top__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-production-top__first-product {
  display: flex;
}

.section-production-top__content {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
}

.section-production-top__img {}

.section-production-top__logo {
  margin-bottom: 55px;
}

.section-production-top__info {
  max-width: 210px;
  margin-bottom: 20px;
}

.section-production-top__info p {
  font-family: 'Gotham Pro Light', sans-serif;
  font-size: 0.9375rem;
  line-height: 21px;
  min-height: 42px;
  color: #000;
}

.section-production-top__price {
  color: #000;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 30px;
  margin-bottom: 43px;
}

.section-production-top__link {}


.section-production-top__btn {
  color: #000;
  border: 1px solid #000;
}

.section-production-top__btn:hover {
  background-color: #000;
  color: #F3F3F3;
}

.section-production-top__second-product {
  display: flex;
}
